* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px 40px;
    margin: 0 auto;
}

.error-form {
    border: 1px solid red;
    border-color: red;
}

.mb {
    margin-bottom: 16px;
}
